::selection{
    background-color: rgb(253, 185, 112);
    color: #000; 
}
#internalHIW{
    padding: 2rem 0rem;
}
#internalbenefits{
    padding: 2rem 0 0 ;
}
#internalcontactus{
    padding: 2rem 0 0 0;
}